{{define "navbar"}}
<nav>
    <div>
        <a href="/">~/</a>
        <!-- Toggle the link based on authentication status -->
        {{if .IsAuthenticated}}
        <a href="/snippets/create">Create snippet</a>
        {{end}}
    </div>
    <div>
        <!-- Toggle the links based on authentication status -->
        {{if .IsAuthenticated}}
        <form action="/users/logout" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            <button>Logout</button>
        </form>
        {{else}}
        <a href="/users/signup">Signup</a>
        <a href="/users/login">Login</a>
        {{end}}
    </div>
</nav>
{{end}}
